<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Prex components.</string>
	<key>Summary</key>
	<string>Prex components.</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>DefaultCompletionName</key>
	<string>Prex</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>Prex name:</string>
			<key>Description</key>
			<string>The name of the Prex to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<string>true</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>PresenterSubclass</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>Use Presenter subclass</string>
			<key>Description</key>
			<string>Whether this Prex uses a subclass of Presenter</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>NotPersisted</key>
			<string>true</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>WithXIB</string>
			<key>Name</key>
			<string>Also create XIB file for user interface</string>
			<key>Description</key>
			<string>Whether to create a XIB file with the same name</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>RequiredOptions</key>
			<dict>
				<key>withStoryboard</key>
				<string>false</string>
			</dict>
			<key>Default</key>
			<string>true</string>
			<key>NotPersisted</key>
			<string>true</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>WithStoryboard</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>Also create Storyboard file for user interface</string>
			<key>Description</key>
			<string>Whether to create a Storyboard file with the same name</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<string>true</string>
			<key>RequiredOptions</key>
			<dict>
				<key>withXIB</key>
				<string>false</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
